section {
    scroll-snap-align: start;
}

footer {
    background-color: red;
}

#alkuruutu {
    background-image: url("img/background.jpg");
    background-size: cover;
}

.vh-85 {
    height: 85vh;
}

.sisalto {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
}

.carousel-indicators {
    bottom: -2.4375rem;
}

.some a {
    text-decoration: none;
}

.some i {
    font-size: 1.5rem;
}

.tahdet i {
    font-size: 1.2rem;

}

.tahdet {
    padding-left: 0.5rem;
    white-space: nowrap;
}

@media only screen and (min-width: 768px) {
    .vw-45 {
        width: 45vw;
    }
}

@media only screen and (max-width: 360px) {
    .accordion li, .accordion table {
        font-size: 0.9rem;
    }
}