@import url('https://fonts.googleapis.com/css?family=Passions+Conflict&display=swap');
body {
    
    background-image: url("img/background.jpg");
}
nav {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
}
nav li {
    display: inline;
    font-size: xx-large;
    
}
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
nav li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#paaotsikko {
    background-color:rgb(201, 201, 201);
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 0 30% 0 30%;
}
.valiotsikko {
    margin : 20px auto;
    width: 30%;
    padding: 15px;
    text-align: center;
    background-color: rgb(240, 248, 255, 0.6);
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: rgb(240, 255, 255, 0.6);
}

.center hr.jako-viiva {
    border-top: 8px solid;
    margin: 0px 10% 20px 10%;
    position: relative;
    border-radius: 5px;
    color: rgb(86, 186, 156);
}
.center, .valiotsikko {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 10px rgb(86, 186, 156, 0.6);
}
.center #tyokokemus-id ul, #koulutus-id ul {
    list-style: none;
    margin: 10px 0px 40px 0px;
}
.center #tyokokemus-id li, #koulutus-id li {
    position: relative;
}
.center #tyokokemus-id .tyopaikka, #koulutus-id .koulu {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}
.center #tyokokemus-id .virkanimike, .aika, .tyotehtava,  #koulutus-id .koulutus, .vuosi, .tutkinto{
    font-size: 1em;
    margin-left: 50px;
    list-style-type: disc;
}
.center #ttaidot-id .aliotsikko {
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    margin: 0;
}
footer {
    text-align: center;
    padding: 5px;
    margin: 40px 0 0 0;
    font-family: "Passions Conflict";
    font-size: 30px;
    background-color: rgb(248, 248, 255, 0.8);
}
footer a:link {
    text-decoration: none;
}
.bgrattr {
    font-size: 26px;
    margin-bottom: auto;
    margin-top: auto;
}